# Trying some lessons on string formatting

# Option 1:  %formatting

In [17]:
someone = 'real python'

"Hello %s." %someone

'Hello real python. '

In [16]:
someone = 'real python'
age = 12

"Hello %s. you are whatever %s" %(someone, age)

'Hello real python. you are whatever 12'

# Option 2: str.format()

In [19]:
"Hello {}. you are whatever {}".format("realpython", 12)

'Hello realpython. you are whatever 12'

In [1]:
person = {'name':'real python', 'age': 12}
'Hello, {name}. You are {age}'.format(name=person['name'], age=person['age'])

'Hello, real python. You are 12'

In [2]:
person = {'name':'real python', 'age': 12}
'Hello, {name}. You are {age}'.format(**person)

'Hello, real python. You are 12'

# Option 3: f-Strings

In [5]:
name = 'real f python'
age = 1
f'Hello {name}, you are this much old - {age}'

'Hello real f python, you are this much old - 1'

In [8]:
class Person:
    def __init__(self, firstname, lastname, age):
        self.firstname = firstname
        self.lastname = lastname
        self.age = age
        
    def __str__(self):
        return f"{self.firstname} {self.lastname} is {self.age}."
    
    def __repr__(self):
        return f"{self.firstname} {self.lastname} is officially {self.age}."

In [17]:
new_person = Person("adhvaith", "rajesh", 15)
f"{new_person}"

'adhvaith rajesh is 15.'

In [16]:
f"{new_person!r}"

'adhvaith rajesh is officially 15.'

In [19]:
MIN_DRIVING_AGE = 18

def allowed_driving(name, age):
    """Print '{name} is allowed to drive' or '{name} is not allowed to drive'
       checking the passed in age against the MIN_DRIVING_AGE constant"""
    if (age >= MIN_DRIVING_AGE ):
        return f"{name} is allowed to drive"
    else:
        return f"{name} is not allowed to drive"
    pass

In [22]:
allowed_driving('adhvaith', 18)

'adhvaith is allowed to drive'

# Pythonic if else and using of f-string

In [23]:
MIN_DRIVING_AGE = 18

def allowed_driving(name, age):
    allowed = 'is allowed' if age >= MIN_DRIVING_AGE else 'is not allowed'
    print(f'{name} {allowed} to drive')
    pass

In [24]:
allowed_driving('someone', 14)

someone is not allowed to drive

# Trying an day 7 activity with f-string

In [35]:
oracle_connection_string = 'oracle+cx_oracle://{username}:{password}@'+ cx_Oracle.makedsn('{hostname}', '{port}', service_name='{service_name}')

In [48]:
oracle_connection_string.format(
        username = 'sane',
        password = 'pappi',
        hostname = 'ghost',
        port = '3232',
        service_name = 'db')

'oracle+cx_oracle://sane:pappi@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=ghost)(PORT=3232))(CONNECT_DATA=(SERVICE_NAME=db)))'

In [51]:
f"{oracle_connection_string('name','pass','host','121','db')}"

TypeError: 'str' object is not callable

In [50]:
username ='sane'
password ='pappi'
hostname = 'ghost'
port = '3232'
service_name ='db'
new_oracle_connection_string = f'oracle+cx_oracle://{username}:{password}@'+ cx_Oracle.makedsn(f'{hostname}', f'{port}', service_name=f'{service_name}')
print(new_oracle_connection_string)

oracle+cx_oracle://sane:pappi@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=ghost)(PORT=3232))(CONNECT_DATA=(SERVICE_NAME=db)))